<a href="https://colab.research.google.com/github/KadeF10/Baseball-Analytics/blob/main/Part_2_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests 
import pandas as pd
from google.colab import files

def quarter(month=True):
  temp=month/3
  if temp<=1:
    return 1
  elif temp>1 and temp<=2:
    return 2
  elif temp>2 and temp<=3:
    return 3
  else:
    return 4


def Stocks(ticker=True):
  url='https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol='+ticker+'&apikey=A601RIXZHX349L2M'
  r = requests.get(url)
  data = r.json()
  stock=pd.DataFrame.from_dict(data['Monthly Adjusted Time Series']).T
  stock.reset_index(inplace=True)
  stock.rename(columns={'index':'date'},inplace=True)
  stock['date']= pd.to_datetime(stock['date'])
  stock['year']=stock['date'].dt.year
  stock['month']=stock['date'].dt.month
  columns=stock.columns
  for i in columns[1:8]:
    stock[i]=stock[i].astype(float)
  stock['quarter']=stock.apply(lambda x: quarter(x['month']),axis=1)
  stock=stock.groupby(['year','quarter'])['1. open','7. dividend amount'].mean().reset_index()
  stock.rename(columns={'1. open':'open','7. dividend amount':'dividend'},inplace=True)
  stock['ticker']=ticker
  return stock

In [3]:
A=Stocks(ticker='A')
IBM=Stocks(ticker='IBM')
pd.concat([IBM,A])


stock_list=['IBM','A'] 
temp=pd.DataFrame() 

for j in stock_list:  
  T=Stocks(ticker=j)
  temp=pd.concat([temp,T]) 
temp

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

    year  quarter        open  dividend ticker
0   1999        4  102.560000  0.000000    IBM
1   2000        1  108.936667  0.040000    IBM
2   2000        2  113.353333  0.043333    IBM
3   2000        3  117.936667  0.043333    IBM
4   2000        4  101.833333  0.043333    IBM
..   ...      ...         ...       ...    ...
86  2021        2  133.820000  0.064667      A
87  2021        3  158.953333  0.064667      A
88  2021        4  155.216667  0.064667      A
89  2022        1  143.453333  0.070000      A
90  2022        2  126.280000  0.105000      A

[182 rows x 5 columns]

In [4]:
ticker='IBM'
url='https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol='+ticker+'&apikey=A601RIXZHX349L2M'
r = requests.get(url)
data = r.json()
stock=pd.DataFrame.from_dict(data['Monthly Adjusted Time Series']).T
stock.reset_index(inplace=True)
stock.rename(columns={'index':'date'},inplace=True)
stock['date']=pd.to_datetime(stock['date'])
stock.dtypes
stock['month']=stock['date'].dt.month
stock['year']=stock['date'].dt.year
stock.head()
stock['quarter'] = stock.apply(lambda x: quarter(x['month']),axis=1)
stock.head()
#stock.groupby(['year','quarter'])['1. open'].mean()
columns=stock.columns

In [5]:
url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=IBM&apikey=A601RIXZHX349L2M'
r = requests.get(url)
data = r.json()
data.keys()

earnings=pd.DataFrame.from_dict(data['quarterlyEarnings'])
earnings.rename(columns={'fiscalDateEnding':'date'},inplace=True)
earnings['date']= pd.to_datetime(earnings['date'])
earnings['month']=earnings['date'].dt.month
earnings['quarter']=earnings['month']/3
earnings.head()

,date,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage,month,quarter
0,2022-03-31,2022-04-19,1.4,1.38,0.02,1.4493,3,1.0
1,2021-12-31,2022-01-24,3.35,3.3,0.05,1.5152,12,4.0
2,2021-09-30,2021-10-20,2.52,2.5147,0.0053,0.2108,9,3.0
3,2021-06-30,2021-07-19,2.33,2.2884,0.0416,1.8179,6,2.0
4,2021-03-31,2021-04-19,1.77,1.6524,0.1176,7.1169,3,1.0

In [6]:
stock.describe()

            month         year     quarter
count  270.000000   270.000000  270.000000
mean     6.455556  2010.670370    2.485185
std      3.474264     6.513259    1.123326
min      1.000000  1999.000000    1.000000
25%      3.000000  2005.000000    1.000000
50%      6.000000  2011.000000    2.000000
75%      9.000000  2016.000000    3.000000
max     12.000000  2022.000000    4.000000

In [7]:
earnings.describe()

            month     quarter
count  105.000000  105.000000
mean     7.457143    2.485714
std      3.382729    1.127576
min      3.000000    1.000000
25%      3.000000    1.000000
50%      6.000000    2.000000
75%      9.000000    3.000000
max     12.000000    4.000000